html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    p, span, label, input, table {
        font-family: 'Roboto', sans-serif;
    }
    
    input:focus {
        outline: none;
    }
}