.input-section {
    .input-txt {
        color: $text-color;

        border: none;

        &-login {
            background: $primary-dark;

            padding-left: 40px;
            border-radius: 5px;
    
            width: 215px;
            height: 40px;
        }

        &-intern {
            display: flex;
            background-color: $primary;

            height: 40px;
            border-radius: 5px;
            padding-left: 40px;
            margin-left: -20px;

            width: 85%;
            
        }

        &::placeholder {
            color: $text-color;
            opacity: 0.5;
        }
    }

    .input-icon {
        position:absolute;
        left: 10px;

        &-mail {
            width:20px;
            bottom:62%;
        }

        &-pass {
            width:18px;
            bottom:10%;
        }
        
    }
}