.container .btn{
    display: flex;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 15px 0 0 0;

    &-primary {
        background-color: $submit;
        color: #fff;
    }

    &:hover {
        transition: .5s;
        background-color: $submit-ligth;
    }

}