.container {
    .input-section {
        .input-txt {
            background: #25313E;
            color: $text-color;

            &-login {
                padding-left: 40px;
                border-radius: 5px;
                border: none;
        
                width: 215px;
                height: 40px;
            }
        }

        .input-icon {
            position:absolute;
            left: 10px;
    
            &-mail {
                width:20px;
                bottom:62%;
            }
    
            &-pass {
                width:18px;
                bottom:10%;
            }
            
        }

    }
    
}