$primary: #2C3E50;
$primary-dark: #25313E;
$secondary: #66ffcc;
$secondary-light: #4dffc3;
$secondary-dark: #00e699;
$submit: #1871CB;
$submit-ligth: #328ce7;
$submit-dark: #1359a0;
$text-color: #fff;
